.resume-container {
  width: 900px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

.resume-header {
  width: 100%;
  height: 140px;
  background-color: #231F20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.resume-logo {
  height: 100px;
  width: 100px;
  background-color: white;
  margin-right: 20px;
}

.resume-header h2 {
  color: white;
  text-align: center;
  flex-grow: 1;
  font-size: 45px;
}

.resume-top-page {
  display: flex;
  margin-top: 40px;
}

.left-section {
  width: 38%;
  background-color: #006e74;
  color: white;
  padding: 20px;
  font-size: 14px;
  margin-left: 20px;
}

.right-section {
  width: 60%;
  color: black;
  padding: 20px;
  margin-right: 10px;
}

.section {
  margin-bottom: 20px;
}

.section h3,
.section h4 {
  margin-bottom: 10px;
}

.left-section h3 {
  color: white;
}
.right-section h3 {
  color: black;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.second-page-start {
  margin-top: 60px;
  padding: 20px;
}

.second-page-start h3 {
  font-size: 22px;
  margin-bottom: 25px;
  color: #1c2a3a;
  padding-bottom: 5px;
}

.second-page-start .section {
  margin-bottom: 30px;
  padding-left: 10px;
}

.second-page-start .section p {
  font-size: 14px;
  margin: 5px 0;
}

.second-page-start .section ul {
  padding-left: 20px;
  list-style-type: none;
}

.second-page-start .section ul li::before {
  content: "• ";
  color: #1c2a3a;
  margin-right: 5px;
}

.back-button button {
  background-color: #006e74;
  color: white;
  position: absolute;
  top: 5px;
  left: 10px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
}

.download-button button {
  background-color: #006e74;
  color: white;
  position: absolute;
  top: 5px;
  right: 20px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
}
