/* Layout */
.app-container {
  display: flex;
  min-height: 100vh;
  background: #f5f8fc;
  font-family: "Segoe UI", sans-serif;
}

/* Sidebar */
.project-sidebar {
  width: 260px;
  color: #0f172a;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  border-right: 1px solid #dbe4f0;
  position: relative;
  z-index: 1;
  padding: 10px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #0f172a;
  border-radius: 5px 3px;
  width: 100%;
}

.sidebar-backButton{
  display: flex;
  justify-content: center;
   width: 60px;
   height: 30px;
   background-color: rgb(142, 142, 142);
   border-radius: 3px 2px;
   align-items: center;
   cursor: pointer;
}

.user-avatar {
  background-color: #334155;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  color: white;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #0f172a;
}

.sidebar-body {
  flex-grow: 1;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 40px;
  position: relative;
}

.burger {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0f172a;
}

/* Title */
.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #0f172a;
}

.underline {
  width: 100%;
  height: 4px;
  background-color: #0f172a;
  margin-bottom: 24px;
}

/* Stat Cards */
.stat-card-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.stat-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  flex: 1;
  min-width: 200px;
}

.stat-card-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.stat-value {
  font-size: 28px;
  font-weight: bold;
  color: #0f172a;
}

/* Upload Box */
.upload-header {
  font-size: 22px;
  margin-bottom: 16px;
  color: #0f172a;
}

.upload-box {
  border: 2px dashed #94a3b8;
  color: #0f172a;
  padding: 40px;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  transition: background 0.3s ease;
}

.upload-box:hover {
  background-color: #f8fafc;
}

.upload-title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
}

.upload-subtitle {
  font-size: 14px;
  color: #64748b;
  margin-top: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .project-sidebar {
    position: absolute;
    z-index: 10;
    transform: translateX(-100%);
  }

  .stat-card-grid {
    flex-direction: column;
  }

  .main-content {
    padding: 20px;
  }

  .burger {
    top: 20px;
    left: 20px;
  }
}
